<div id="device-detector">
  <h1>Device Detector</h1>

  <h2>Angular Device Detector</h2>

  <p>This module uses <a href="http://ngmodules.org/modules/ng-device-detector">this plugin</a>.</p>

  <p>Your browser: {{deviceDetector.browser}}</p>

  <p>Your device: {{deviceDetector.device}}</p>

  <p>Your device raw data: {{deviceDetector.raw}}</p>
  <hr>
  <h2>Using Window Width</h2>

  <p>Your width: {{currentWidth}}px</p>

  <p>Based on your width, I'm guessing you are using a <strong>{{deviceType}}</strong>.</p>
</div>
