<!-- form-login.html -->
<div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" name="fName" ng-model="formData.firstName">
</div>
<div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" name="lName" ng-model="formData.lastName">
</div>
<div class="form-group">
    <label for="primaryEmail">Email</label>
    <input type="text" class="form-control" name="primaryEmail" ng-model="formData.primaryEmail">
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" ng-model="formData.password">
</div>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.success" class="btn btn-block btn-info">
            Login <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>

<div class="form-group">
    <label>Users</label>
    <br/>
</div>