<!-- form-verify.html -->
<div class="form-group">
  <div class="row">
    <div class="col-sm-12">
      <label>Review you entries:</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="col-sm-5">
      <div>User First Name</div>
    </div>
    <div class="col-sm-5">
      <div>{{formData.firstName}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <span class="glyphicon glyphicon-user"></span>
    </div>
    <div class="col-sm-5">
      <div>User Last Name</div>
    </div>
    <div class="col-sm-5">
      <div>{{formData.lastName}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <span class="glyphicon glyphicon-envelope"></span>
    </div>
    <div class="col-sm-5">
      <div>User Email</div>
    </div>
    <div class="col-sm-5">
      <div>{{formData.primaryEmail}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <span class="glyphicon glyphicon-magnet"></span>
    </div>
    <div class="col-sm-5">
      <div>User type</div>
    </div>
    <div class="col-sm-5">
      <div>{{formData.type}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">&nbsp;</div>
  </div>
  <div class="form-group row">
    <div class="col-xs-6 col-xs-offset-4">
      <a class="btn btn-danger" data-ng-click="createUser()">
        Submit <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
    </div>
  </div>
</div>
