<!-- footer-navigation.html -->
<div id="footer-navigation">
  <nav class="footer-navbar navbar" role="navigation">
    <ul class="nav navbar-nav">
      <li><a ng-href="#/profile">Profile</a></li>
      <li><a ng-href="#/">Network</a></li>
      <li><a ng-href="#/">Fourms</a></li>
      <li><a ng-href="#/">Find a Gig</a></li>
      <li><a ng-href="#/">Post a Gig</a></li>
      <li><a ng-href="#/">Messages</a></li>
      <li><a ng-href="#/">Premium services</a></li>
      <li><a ng-href="#/">News</a></li>
      <li><a ng-href="#/">About</a></li>
    </ul>
  </nav>
</div>
