<div id="left-nav" ng-controller="InventoryController as inventory">
  <ul>
    <li>
      <a ui-sref-active="active" ui-sref=".accordion">Accordion</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".weather">API Call with Promise</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".autocomplete">Autocomplete Text</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".calendar">Calendar Date Picker</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".carousel">Carousel</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".compare-phone">Compare Phones</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".device-detector">Device Detector</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".throw-exception">Exception Thrower</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".filter">Filter</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".validation">Form Validation</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".google-maps">Google Maps</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".infinite-scroller">Infinite Scroller</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".image-camera">Mobile Screenshot</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".modal">Modal</a>
    </li>

    <li>
      <a ui-sref-active="active" ui-sref=".cart">ng-cart</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".pager">Pagination</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".popover">Popover</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".responsive">Responsive Columns</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".storage">Storage</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".restNg">REST Angular</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".searchAndSelect">Searching and Selecting</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".signature">Signature</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".spinner">Spinner</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".star-rating">Star Rating</a>
    </li>
  </ul>
</div>
