<div id="rest-angualr-module">
  <p> An example of using RestAngular to automate angular promises: </p>

  <h1>Using RestAngular</h1>

  <div>
    This is using the users restAngular.all:
    <div ng-repeat="user in users">
      <h3><a>{{ user.firstName }}</a></h3>

      <p>{{ user.lastName }}</p>
      <hr/>
    </div>
    <div>
      This is using the user restAngular.one:
      <h3><a>{{ user.firstName}}</a></h3>
    </div>
    <div>
      This is using the user restAngular.several:
      <div ng-repeat="user in severalUsers">
        <p>{{  user.firstName }}</p>
        <hr/>
      </div>
    </div>

    Create new user:
    <input type="button" ng-click="submit()" value="Create User"  class="ui-button" />

  </div>
</div>

