<div id="modal-module">
  <button class="btn btn-primary btn-lg" data-toggle="modal"
          data-target="#myModal">
    Launch demo modal
  </button>

  <div custom-modals="" modal-id="myModal" template-url="/scripts/modal-module/views/modalPopup.html"
       modal-title="Our Compiled Modal"/>
  <div ng-repeat='user in users'>
    <span ng-bind="user.first_name"></span> <span ng-bind="user.last_name"></span>
  </div>
  <span ng-bind-html="content"></span>

  <span ng-bind-html="oneUser">One User</span>

  <br/>
  <br/>
</div>
