<div id="wrapper" ng-init="clearFilter()">
    <div class="navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-default collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a class="btn-link" ng-click="clearFilter()"> All</a>
                </li>
                <li><a class="btn-link active" ng-click="filterValue ='corporate'">Corporate</a>
                </li>
                <li><a class="btn-link" ng-click="filterValue ='retail'">Retail</a>
                </li>
                <li><a class="btn-link" ng-click="filterValue ='technology'">Technology</a>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle opnePriceFilter">Price <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <form class="navbar-form form" role="form">
                                <input type="number" ng-model=priceFilter.startRange class="input-small form-control " placeholder="From">
                                <input type="number" ng-model=p riceFilter.endRange class="input-small form-control set-dropdown-field" placeholder="To">
                                <input type="button" class="btn btn-default set-dropdown-field applyRangeDataFilter" value="apply" ng-click="applyFilter(priceFilter,'price')">
                                <div class="set-dropdown-field" range-slider min="0" max="100" model-min="rangeFilterValue.startRange" model-max="rangeFilterValue.endRange" filter="currency"></div>
                            </form>
                        </li>
                    </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle openDateFilter">Date <span class="caret"></span></a>
                    <ul class="dropdown-menu date-filter-dropdown">
                        <li>
                            <form class="navbar-form form" role="form">
                                <input type="text" ng-model=dateFilter.startRange placeholder="from" show-button-bar="false" class="form-control input-small" datepicker-popup="MM/dd/yyyy" is-open="fromDatePicker" close-text="Close" ng-click="fromDatePicker = !fromDatePicker" />
                                <input type="text" ng-model=dateFilter.endRange placeholder="to" show-button-bar="false" class="form-control input-small set-dropdown-field" datepicker-popup="MM/dd/yyyy" is-open="toDatePicker" close-text="Close" ng-click="toDatePicker = !toDatePicker" />
                                <input type="button" class="btn btn-default set-dropdown-field set-dropdown-field applyDateFilter" value="apply" ng-click="applyFilter(dateFilter,'date')"> </form>
                        </li>
                    </ul>
                </li>
                <li class="searchfilter">
                    <input type="text" ng-model="searchText" placeholder='Search:'> </li>
            </ul>
        </div>
    </div>
    <!-- /.navbar-collapse -->
    <div id="page-content-wrapper">
        <div class="row">
            <div class="searchfilter"> Filter By :
                <spne ng-bind='filterValue |uppercase'></spne>
            </div>
            <table class="table  table-striped table-striped table-bordered filterdata">
                <thead>
                    <tr>
                        <th><a href="" ng-click="tableSort('type',sortType)">Type</a> <i ng-show="showColumnFilter ==='type'" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sortType, 'glyphicon-chevron-up': !sortType}"></i> </th>
                        <th><a href="" ng-click="tableSort('name',sortName)">Name</a> <i ng-show="showColumnFilter ==='name'" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sortName, 'glyphicon-chevron-up': !sortName}"></i> </th>
                        <th><a href="" ng-click="tableSort('auth',sortAuth)">Auth</a> <i ng-show="showColumnFilter ==='auth'" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sortAuth, 'glyphicon-chevron-up': !sortAuth}"></i> </th>
                        <th><a href="" ng-click="tableSort('date',sortDate)">Date</a> <i ng-show="showColumnFilter ==='date'" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sortDate, 'glyphicon-chevron-up': !sortDate}"></i> </th>
                        <th><a href="" ng-click="tableSort('price',sortPrice)">Price</a> <i ng-show="showColumnFilter ==='price'" class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': sortPrice, 'glyphicon-chevron-up': !sortPrice}"></i> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in completeList |filter:filterValue|orderBy:sortOrder|rangeFilter:filterByRange |filter:searchText">
                        <td ng-bind='data.type |uppercase'></td>
                        <td ng-bind='data.name'></td>
                        <td ng-bind='data.auth'></td>
                        <td ng-bind='data.date | date:"MM/dd/yyyy"'></td>
                        <td ng-bind='data.price |currency'></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>