 <div>
	<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"/>
	<table class="table table-striped table-hover table-bordered">
		<thead>
			<tr>
				<th>Number</th>
				<th>Number Squared</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in items | filter : paginate">
				<td>{{item.number}}</td>
				<td>{{item.numSquared}}</td>
			</tr>
		</tbody>
	</table>
	<pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true" items-per-page="numPerPage" class="pagination-sm"/>
</div>