<!-- form-profile-page2.html -->
Group Act?  <a href="#">Click here</a> to continu wth group act form.
<h4>Experience & Credits</h4>
<div class="bs-example">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="profile/profile##collapseOne">1. My Credits?</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <!-- Contact Info? -->
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <label>Credits:</label><br/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2">
                Title
              </div>
              <div class="col-md-2">
                Character
              </div>
              <div class="col-md-1">
                Role
              </div>
              <div class="col-md-2">
                Produced By
              </div>
              <div class="col-md-2">
                Directed By
              </div>
              <div class="col-md-1">
                date
              </div>
              <div class="col-md-1">
                Type
              </div>
              <div class="col-md-1">
                URL
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <input type="image" src="" ng-click="showDetails = ! showDetails" class="a"
                       value="add another language +"/>
              </div>
            </div>
            <div class="procedure-details" ng-class="{ 'hidden': ! showDetails }">
              <div class="row">
                <div class="col-md-4">
                  <label>Title</label>
                  <input type="text" class="form-control" name="title" ng-model="formData.title">
                </div>
                <div class="col-md-4">
                  <label>Character</label>
                  <input type="text" class="form-control" name="character" ng-model="formData.character">
                </div>
                <div class="col-md-4">
                  <label>Role</label>
                  <input type="text" class="form-control" name="role" ng-model="formData.role">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <label>Produced by</label>
                  <input type="text" class="form-control" name="producedBy" ng-model="formData.producedBy">
                </div>
                <div class="col-md-4">
                  <label>Directed By</label>
                  <input type="text" class="form-control" name="directedBy" ng-model="formData.directedBy">
                </div>
                <div class="col-md-4">
                  <label>Date</label>
                  <input type="text" class="form-control" name="date" ng-model="formData.date">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label>Type</label>
                  <select class="form-control" ng-model="formData.type"
                          ng-options="obj.id as obj.name for obj in list_characterTypes.charactertypes">
                  </select>
                </div>
                <div class="col-sm-6">
                  <label>Proficiency</label>
                  <select class="form-control" ng-model="formData.proficiency"
                          ng-options="obj.id as obj.name for obj in list_proficiencies.proficiencies">
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label>Type</label>
                  <input type="text" class="form-control" name="url" data-ng-model="formData.url" placeholder="URL"/>
                </div>
                <div class="col-sm-6">
                  <br />
                  <input type="button" class="btn btn-primary" name="addcredits" value="Add another credit"
                         data-ng-click="addCredeit()">
                </div>
              </div>
          </div>
          <!-- End Contact Info -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="profile.education" class="btn btn-block btn-info">
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>
</div>
