325[l<!-- profile-page-seven.html -->
Group Act? <a href="#" xmlns="http://www.w3.org/1999/html">Click here</a> to continu wth group act form.
<h4>Bibliography</h4>
<div class="bs-example">
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="profile/skils#collapseOne">1. My Bibliography?</a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <!-- Award Start Info? -->
          <div class="form-group">
            <div>
              <div class="row">
                <div class="col-md-12">
                  <label for="bio">Bibliography</label>
                  <textarea class="form-control" name="bio" ng-model="formData.bio" cols="8" rows="6"></textarea>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label>Bio URL</label><br/>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="character" data-ng-model="formData.character"
                         placeholder="Bio URL"/>
                </div>
              </div>
            </div>
          </div>
          <!-- End Award Info -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="form-group row">
  <div class="col-xs-6 col-xs-offset-3">
    <a ui-sref="profile.exhibitions" class="btn btn-block btn-info">
      Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>
</div>
