<div class="left-nav">
  <ul>
    <li>
      <a ui-sref-active="active" ui-sref=".profile">Profile</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".skills">Special Skills</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".experience">Experience/Credits</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".education">Education History</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".auditions">Previous Auditions</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".tv">Been in TV Before?</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".training">Training</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".awards">Honors and Awards/Grants</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".bibliography">Bibliography</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".exhibitions">Exhibitions</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".collections">Collections</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".affiliations">Professional Affiliations</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".interest">Areas of Interest</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".bio">Personal BIO</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".news">News</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".links">Links</a>
    </li>
    <li>
      <a ui-sref-active="active" ui-sref=".wish">Wish List</a>
    </li>
  </ul>
</div>
