<div id="google-maps-example">
  <h1>Google Maps Directive Example</h1>

  <p>This page is to serve as an example of implementing a Google Maps directive into the application. This module's
    step-by-step guide was demonstrated via a teach-out on October 6, 2014.</p>

  <p>Note that the controller specifies the center of the map to be at T-Mobile in Bellevue.</p>

  <div id="google-maps-wrapper">
    <google-map center="map.center" pan="true" zoom="map.zoom" draggable="true" options="options"></google-map>
  </div>
</div>
