<div class="header">
    <ul class="nav nav-pills pull-right">
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ng-href="#">About</a></li>
        <li><a ng-href="#">Contact</a></li>
    </ul>
    <h3 class="text-muted">talentworks</h3>
</div>

<div class="jumbotron">
    <h4>Sign up for a Talenworks account</h4>

    <div class="span6">
        <div class="ui-input-text">
           Email Address:  <input ng-model="username" name="tw-username" id="tw-username"
                   type="text"
                   autocapitalize="off"
                   autofocus="autofocus"
                   class="ui-input-text">
        </div>
        <div class="ui-input-text">
            Password:  <input ng-model="password" name="tw-password" id="tw-password"
                   type="password"
                   class="ui-input-text"/>
        </div>
        <div class="control-group">
            <div class="error-message">{{loginInfo.error}}</div>
            <button ng-click="authenticate()">
                Signup
            </button>
        </div>

    </div>

</div>

<div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span>Footer</p>
</div>
