<div class="row-fluid" id="compare-phone" ng-controller="ComparePhoneController as compareCtrl">
  <div class="row">
    <div class="col-md-3 col-sm-6" ng-repeat="phone in phoneDetails">
      <h4><span ng-bind="phone.phoneName"></span></h4> <img alt="Apple iPhone 6" ng-src={{phone.image}}>

      <p>
        <input type="checkbox" name="phone-compare-checkbox" value={{phone.Id}} ng-model="phoneModel"
               ng-change="toggleCheck(phone.Id)">
        <button class="btn btn-primary btn-sm button" ng-click="doCompare()" ng-disabled=!phoneModel>Compare</button>
      </p>
    </div>
  </div>
  <table class="table table-striped table-striped table-bordered filterdata">
    <tr ng-repeat="(header, value) in compareData">
      <td> {{header}}</td>
      <td ng-repeat="row in value"> {{row}} <span ng-if="!row">
		  	-
			</span></td>
    </tr>
  </table>
</div>
